<app-navbar></app-navbar>
<router-outlet></router-outlet> 
<div class="card mx-auto text-center w-50">
    <img class="card-img-top" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Pokemon Name</h5>
        <span class="card-text">Pokemon Id</span>
        <span class = "card-text">Type</span>
    </div>
    <div class="card-body">
        <button> New Encounter </button>
        <button> Catch(ball count = ?) </button>
    </div>
</div>
